<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css
  ">
  <title>About</title>
</head>
<body>
  <header>
    <div>
      <a href="/">Home</a>
      <a href="/works">Works</a>
    </div>
  </header>
  <h1>Curiosidades</h1>
  <article>
    <h2>sabías que...?</h2>
    <p>Javier Martínez Reverte, que firma sus obras como Javier Reverte es un escritor, viajero y periodista español. Es hermano del también escritor y periodista Jorge Martínez Reverte.
    </p>
  </article>
  <article>
    <h2>Biografía
    </h2>
    <p>Es hijo del periodista Jesús Martínez Tessier. Estudió filosofía y periodismo. Ejerció como periodista durante casi 30 años, trabajando como corresponsal de prensa en Londres (1971-1973), París (1973-1977) y Lisboa (1978) y como enviado especial en numerosos países de todo el mundo. También ha ejercido como articulista, cronista político, entrevistador, editorialista, redactor-jefe de mesa, reportero del programa En portada de TVE y subdirector del desaparecido diario Pueblo.
        Atraído desde siempre por la creación literaria, ha trabajado como guionista de radio y televisión y ha escrito novelas, poemarios y libros de viajes</p>
  </article>
  <article>
    <h2>sabías que es ..?</h2>
    <p>En abril de 2014 publica Canta Irlanda. Un viaje por la Isla Esmeralda, en el que narra con pasión el viaje que hizo por Irlanda siguiendo, fundamentalmente, los lugares señalados en la biografía de los grandes literatos irlandeses y de algún que otro mito juvenil del autor. Como en otros libros, recoge sus impresiones sobre la gentes del país y recorre la historia y leyendas de la isla, utilizando en este caso, como apoyo, la letra de canciones populares irlandesas. Añade, también, los hechos históricos que vivió de primera mano, como periodista, durante los viajes que hizo a Irlanda del Norte.</p>
  </article>
</body>
</html> 