body{
    background-color:grey;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a {
    font-size: 20px;
    color:blueviolet;
  } 


  #h2 {

    size: 200px;
  }
